{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load custom_markdown %}
{% block title %}{{article.title}} | Kirito{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/embed.default.css" %}" />
{% endblock %}
{% block content %}
<main id="main" class="main">
	<div class="main-inner">
		<div class="content-wrap">
			<div id="content" class="content">
				<div id="posts" class="posts-expand">
					<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
						<header class="post-header">
							<h1 class="post-title" itemprop="name headline">
								{{article.title}}
							</h1>
							<div class="post-meta">
								<span class="post-time">
									<span class="post-meta-item-icon">
										<i class="fa fa-calendar-o"></i>
									</span>
									<span class="post-meta-item-text">发表于</span>
										<time itemprop="dateCreated" datetime="{{article.create_time|date:"Y-m-d H:i"}}" content="{{article.create_time|date:"Y-m-d"}}">
											{{article.create_time|date:"Y-m-d"}}
										</time>
									</span>
											
									<span class="post-category">
										&nbsp; | &nbsp;
										<span class="post-meta-item-icon">
											<i class="fa fa-folder-o"></i>
										</span>
										<span class="post-meta-item-text">分类于</span>
										<span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
											<a href="{% url 'blog:category' article.category.category_name %}" itemprop="url" rel="index">
												<span itemprop="name">{{article.category.category_name}}</span>
											</a>
										</span>
									</span>
											
									<span class="post-comments-count">
										&nbsp; | &nbsp;
										<a href="{% url 'blog:article' article.title %}#comments" itemprop="discussionUrl">
											<span class="post-comments-count ds-thread-count" data-thread-key="{{article.title}}" itemprop="commentsCount">{{article.comment_counts}}条评论</span>
										</a>
									</span>
							</div>
						</header>
									
						<div class="post-body" itemprop="articleBody">
							{{ article.content | custom_markdown }}
										
									<div>
										<div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center">
											<div>坚持原创知识分享，您的支持将鼓励我继续创作！</div>
											<button id="rewardButton" ,="" disable="enable" onclick="var qr = document.getElementById(&#39;QR&#39;); if (qr.style.display === &#39;none&#39;) {qr.style.display=&#39;block&#39;;} else {qr.style.display=&#39;none&#39;}" style="cursor: pointer; border: 0; outline: 0; border-radius: 100%; padding: 0; margin: 0; letter-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none">
												<span onmouseover="this.style.color=&#39;rgb(236,96,0)&#39;;this.style.background=&#39;rgb(204,204,204)&#39;" onmouseout="this.style.color=&#39;#fff&#39;;this.style.background=&#39;rgb(236,96,0)&#39;" style="display: inline-block; width: 70px; height: 70px; border-radius: 100%; line-height: 81px; color: #fff; font: 400 35px/75px &#39;microsofty&#39;; background: rgb(236,96,0)">赏</span>
											</button>
											<div id="QR" style="display: none;">
												<div id="wechat" style="display: inline-block">
													<a href="./images/wecharpay.jpeg" class="fancybox" rel="group"><img id="wechat_qr" src="./images/wecharpay.jpeg" alt="WeChat Pay" style="width: 200px; max-width: 100%; display: inline-block"></a>
													<p>微信打赏</p>
												</div>
												<div id="alipay" style="display: inline-block">
													<a href="./images/alipay.jpeg" class="fancybox" rel="group"><img id="alipay_qr" src="./images/alipay.jpeg" alt="Alipay" style="width: 200px; max-width: 100%; display: inline-block"></a>
													<p>支付宝打赏</p>
												</div>
											</div>
											
											<div></div>
											<footer class="post-footer">
												<div class="post-tags">
												{% for tag in tags %}
													<a href ="{% url 'blog:tag' tag.tag_name %}" rel="tag">#{{tag.tag_name}}</a>
												{% endfor%}
												</div>
												<div class="post-nav">
													{% if next_blog.title %}
													<div class="post-nav-next post-nav-item">
														<a href="{% url 'blog:article' next_blog.title %}" rel="next" title="{{next_blog.title}}">
															<i class="fa fa-chevron-left"></i> {{next_blog.title}}
														</a>
													</div>
													{% endif %}
													{% if prev_blog.title %}
													<div class="post-nav-prev post-nav-item">
														<a href="{% url 'blog:article' prev_blog.title %}" rel="prev" title="{{prev_blog.title}}">
															{{prev_blog.title}} <i class="fa fa-chevron-right"></i>
														</a>
													</div>
													{% endif %}
												</div>
											</footer>
										</div>
									</div>
					</article>
								
					<div class="post-spread">
						<div class="ds-share flat" data-thread-key="#" data-title="#" data-content="" data-url="#" id="ds-share">
							<div class="ds-share-inline" id="ds-reset">
								<ul class="ds-share-icons-16">
									<li data-toggle="ds-share-icons-more"><a class="ds-more flat" href="javascript:void(0);">分享到：</a></li>
									<li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
									<li><a class="ds-qzone flat" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
									<li><a class="ds-qqt flat" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
									<li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comments" id="comments">
				
			</div>
		</div>
		{% include 'blog/rightInfo.html' %}
	</div>
</main>
{% endblock %}