{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load custom_markdown %}
{% block content %}
<main id="main" class="main">
	<div class="main-inner">
		<div class="content-wrap">
			<div id="content" class="content">
				<!--文章区域-->
				<section id="posts" class="posts-expand">
					{% for blog in latest_blog_list %}
						<!--文章内容-->
						<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
							<!--文章header-->
							<header class="post-header">
								<h1 class="post-title" itemprop="name headline">
									<a class="post-title-link" href="{% url 'blog:article' blog.title %}" itemprop="url">
										{{blog.title}}
									</a>
								</h1>
								<div class="post-meta">
									<span class="post-time">
										<span class="post-meta-item-icon">
											<i class="fa fa-calendar-o"></i>
										</span>
										<span class="post-meta-item-text">发表于</span>
										<time itemprop="dateCreated" datetime="{{blog.create_time|date:"Y-m-d H:i"}}" content="{{blog.create_time|date:"Y-m-d"}}">
											{{blog.create_time|date:"Y-m-d"}}
										</time>
									</span>
									<span class="post-category">
										&nbsp; | &nbsp;
										<span class="post-meta-item-icon">
											<i class="fa fa-folder-o"></i>
										</span>
										<span class="post-meta-item-text">分类于</span>
										<span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
											<a href="{% url 'blog:category' blog.category.category_name %}" itemprop="url" rel="index">
												<span itemprop="name">{{blog.category.category_name}}</span>
											</a>
										</span>
									</span>
											
									<span class="post-comments-count">
										&nbsp; | &nbsp;
										<a href="{% url 'blog:article' blog.title %}#comments" itemprop="discussionUrl">
											<span class="post-comments-count ds-thread-count" data-thread-key="{{blog.title}}" itemprop="commentsCount">{{blog.comment_counts}}条评论</span>
										</a>
									</span>
								</div>
							</header>
							<!--文章正文-->
							<div class="post-body" itemprop="articleBody">
								{{ blog.content|truncatechars:500|custom_markdown }}
								<div class="post-more-link text-center">
									<a class="btn" href="{% url 'blog:article' blog.title %}" rel="contents">
										阅读全文
									</a>
								</div>
							</div>
							<div></div>
							<footer class="post-footer">
								<div class="post-eof"></div>
							</footer>
						</article>
					{% endfor %}
				</section>
				{% include 'blog/pageInfo.html' %}
			</div>
		</div>
	</div>
</main>
{% include 'blog/rightInfo.html' %}
{% endblock %}